<header>
  <div class="container">
    <a href="./index.html" class="logo">
      <img src="./images/logo.svg" alt="" />
    </a>

    <div class="mobile-menu-container" id="menu-container">
      <nav>
        <ul>
          <li><a href="#about-us">О нас</a></li>
          <li><a href="#price">Услуги и цены</a></li>
          <li><a href="#masters">Мастера</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>

      <div>
        <a href="tel:+380441111111">+38 044 111 11 11</a>
        <button>онлайн-запись</button>
      </div>

      <ul>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </div>

    <button
      type="button"
      class="main-nav__mobile-menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="main-nav__mobile-menu-icon"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="main-nav__mobile-menu-icon--open"
          href="./images/sprite-opt.svg#icon-mobile-menu"
        ></use>
        <use
          class="main-nav__mobile-menu-icon--close"
          href="./images/sprite-opt.svg#icon-close-mobile-menu"
        ></use>
      </svg>
    </button>

    <div class="slider">
      <p>A hair salon for men in Kyiv</p>
      <h1>BarberShop</h1>
      <p>
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
  </div>
</header>
