<section class="our-masters section">
  <div class="container">
    <p class="sub-title">Для настоящих ценителей атмосферы</p>
    <h2 class="title">Наши мастера</h2>
    <ul class="list">
      <li class="member">
        <picture>
          <!-- кадрувати під 480 та 768. кадрувати під 1280  -->
          <!-- додати webp -->
          <source srcset="" />

          <img
            class="photo"
            src="./images/our-masters/mobile/alan-black-418.jpg"
            alt="фото мастера John Smith"
          />
        </picture>
        <h3 class="name">John Smith</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets list">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="member">
        <picture>
          <!-- кадрувати під 480 та 768. кадрувати під 1280  -->
          <!-- додати webp -->
          <source srcset="" />

          <img
            class="photo"
            src="./images/our-masters/mobile/michele-doe-418.jpg"
            alt="фото мастера Michele Doe"
          />
        </picture>
        <h3 class="name">Michele Doe</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets list">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="member">
        <picture>
          <!-- кадрувати під 480 та 768. кадрувати під 1280  -->
          <!-- додати webp -->
          <source srcset="" />

          <img
            class="photo"
            src="./images/our-masters/mobile/alan-black-418.jpg"
            alt="фото мастера Alan Black"
          />
        </picture>
        <h3 class="name">Alan Black</h3>
        <p class="post">Extreme Barber</p>
        <ul class="social-nets list">
          <li class="net">
            <a href="" aria-label="ссылка на Instagram" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Twitter" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на Facebook" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="net">
            <a href="" aria-label="ссылка на LinkedIn" class="net-button">
              <svg class="net-icon" width="44" height="44">
                <!-- підготтувати svg, додати в СПРАЙТ -->

                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
