.photo {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  text-align: center;
  color: $title-text-color;
}

.post {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: $accent-color;
}

.social-nets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.net-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: red;
  fill: $title-text-color;
  background-color: $primary-background-color;

  transition: color $duration-animation $timing-animation 0ms,
    background-color $duration-animation $timing-animation 0ms;

  &:hover,
  &:focus {
    fill: currentColor;
    color: $accent-color;
    background-color: $primary-background-color;
  }
}

.net:not(:last-child) {
  margin-right: 10px;
}
