.price {
  max-width: 1200px;
    background: $price-background-color;
    background-image: url(/images/img.png);
    background-size: cover;
    padding-bottom: 130px;
}

.price__text {
margin: 0px;
padding-top: 130px;
padding-left: 16px;
font-family: Open Sans;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: $inverse-other-text-color;

@media screen and (min-width: 768px) {
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  padding-left: 40px;
}

&::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
white-space: nowrap;
overflow: hidden;
color: $price-line;
width: 60px;
background-color: $inverse-other-text-color;
height: 1px;
    margin-right: 20px;
}

}



.price__title {

    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 44px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: $primary-background-color;

@media screen and (min-width: 768px) {
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  padding-left: 40px;
}

}

.price__flex {
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;


    @media screen and(max-width: 1199px) {
      display: none;
      max-width: 1200px;
    }
  
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  
    @media screen and (min-width: 1200px) {
      width: 100%;
    }

}

.mobile {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    @media screen and(min-width: 1200px) {
      display: none;
    }
  }

.price__block-one {
  width: calc((100% - 2 * 16px));
    margin: 0px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background: $background-style;
    list-style: none;
    color: $price-block-text;

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 24px));
    }
    
    @media screen and(min-width: 1200px) {
      width: calc((100% - 2 * 40px) / 2);
    }
}

.price__block-two {
  width: calc((100% - 2 * 16px));
    margin: 0px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background: $background-style-two;
    list-style: none;
    color: $price-block-text;

        @media screen and(min-width: 768px) {
      width: calc((100% - 2 * 24px) / 2);
    }

    @media screen and(min-width: 1200px) {
      width: calc((100% - 2 * 40px) / 2);
    }
}

.price__item {
    padding-bottom: 20px;

    &:after {
      content: '_____________________________________________________________________________________________';
        display: block;
      white-space: nowrap;
      overflow: hidden;
      color: $price-line;
    }
}



  .price__prop {
    float: left;
  }

  .price__value {
    float: right;
  }

.price__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
height: 40px;
background-color: transparent;
color: $primary-background-color;
border: 1px solid $accent-color;
border-radius: 25px;
font-family: Open Sans;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;

&:focus, &:hover {
  background-color: $accent-color;
}
}

